---
import Navbar from '../components/Navbar.astro';
import MainLayaout from '../Layouts/MainLayaout.astro';

// Server only
const currentMoment = new Date().toLocaleString();
---

<MainLayaout title="Home page">
	<h1>Astro</h1>

	<!-- Momento actual que se actualiza solo en modo desarrollo, al buildear queda fijo -->
	<p>Momento actual: {currentMoment}</p>

	<!-- Momento actual que se actualiza en cada request -->
	<p class='moment-client'></p>

	<script>
		const currentMomentClient = new Date().toLocaleString();

		const p = document.querySelector('.moment-client') as HTMLElement;

		p.textContent = `Momento actual (client): ${currentMomentClient}`;
	</script>
</MainLayaout>
