---
import MainLayout from "@layouts/MainLayout.astro";


---
<MainLayout title="Favoritos">
    <h1 class="text-3xl text-center mt-5 text-indigo-700">Pokémon Favoritos</h1>
    <p class="text-center mt-3">Aquí puedes encontrar tus Pokémon favoritos.</p>
</MainLayout>