---
// Server side only code - build time
import type { PokemonListResponse } from '../interfaces/pokemon-list-results';
import MainLayout from '../layouts/MainLayout.astro';

const title = 'Pokedex | Home';

const response = await fetch('https://pokeapi.co/api/v2/pokemon');

const results  = await response.json() as PokemonListResponse;
console.log(results);
---

<MainLayout title={title}>
	<h1 class='text-center text-3xl text-indigo-700 mt-5'>Listado de Pokemons</h1>
	<ul class='m-5 grid grid-cols-4 gap-3'>
		{results.results.map((pokemon) => (
			<li
				class='bg-slate-800 rounded p-3 text-center capitalize hover:bg-slate-700 hover:scale-105 transition-all'
			>
				{pokemon.name}
			</li>
		))}
</MainLayout>
