---
import MainLayout from '../layouts/MainLayout.astro';

const title = 'Pokedex | Home';
---

<MainLayout title={title}>
	<h1 class='text-center text-3xl text-indigo-900 mt-5'>Astro</h1>
</MainLayout>
